<%- include('partials/header') %>

<main>
    <h1>Categories</h1>

    <p><a href="/new-category">Add a new category</a></p>

    <ul>
        <% categories.forEach(category => { %>
            <li>
                <a href="/category/<%= category.category_id %>">
                    <%= category.category_name %>
                </a>
                <span class="actions">
                    [<a href="/edit-category/<%= category.category_id %>">Edit</a>]
                </span>
            </li>
        <% }) %>
    </ul>
</main>

<%- include('partials/footer') %>