<%- include('partials/header') %>

<main>
    <h1>Organizations</h1>

    <ul>
<% organizations.forEach(organization => { %>
    <li>

        <% if (organization.logo_filename) { %>
            <img
                src="/images/<%= organization.logo_filename %>"
                alt="<%= organization.name %> logo"
                width="120"
            >
        <% } %>

        <a href="/organization/<%= organization.organization_id %>">
            <%= organization.name %>
        </a>

        <span class="actions">
            [<a href="/edit-organization/<%= organization.organization_id %>">Edit</a>]
        </span>

    </li>
<% }) %>
    </ul>

    <p><a href="/new-organization">Add a new organization</a></p>
</main>

<%- include('partials/footer') %>
